pycld2 # optional, needed for lang detection
pycld3 # optional, needed for lang detection
google_trans_new # optional, used for lang detection / translation
phoneme_guesser
mycroft-messagebus-client
colour
inflection
pexpect
requests
json_database